.nav {
    display: inline-block;
    text-decoration: gold;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 1;
    margin-top:0px ;
   
    background-color: white;
}

a:link, a:visited,a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.content a{
  padding: 0px 0px;
  align-self: center;
  display: contents;

}

a:hover  {
    background-color: #ECFBFF;
    ;
  }

.heading{font-family: 'Source sans pro',sans-serif;}

.footer a{
  background-color: transparent;
  color: #ffffff;
  padding: 14px 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
}

  .footer {
    border-top: 100px solid rgb(255, 255, 255);
    background-color: #009FC7;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer ul li {
 display: inline-block;
}